[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.5.8"
appdirs = "==1.4.4"
banal = "==1.0.6"
certifi = "==2020.12.5"
chardet = "==4.0.0"
dataset = "==1.5.0"
distlib = "==0.3.1"
filelock = "==3.0.12"
greenlet = "==1.0.0"
idna = "==2.10"
importlib-metadata = "==4.0.1"
pipenv = "==2020.11.15"
praw = "==7.2.0"
prawcore = "==2.0.0"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
requests = "==2.25.1"
six = "==1.15.0"
typing-extensions = "==3.7.4.3"
update-checker = "==0.18.0"
urllib3 = "==1.26.4"
virtualenv = "==20.4.4"
virtualenv-clone = "==0.5.4"
websocket-client = "==0.58.0"
zipp = "==3.4.1"
Mako = "==1.1.4"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.4.11"
psycopg2 = "==2.8.6"

[dev-packages]

[requires]
python_version = "3.7"
